{% extends 'base.html' %}
{% load question_tags %}

{% block content %}
    <h1>Preguntas</h1>
    <div class="d-flex flex-column">
        {% for question in object_list %}
            <div class="card w-100 my-2 p-3">
                <div class="d-flex flex-row">
                    <div class="col-10">
                        <i class="far fa-question-circle" title="{{ question.description }}"></i>
                        <span class="fw-bold">{{ question.title }}</span>
                    </div>
                    <div class="col-2">
                        <span class="fw-lighter">Autor:</span> {{ question.author }}
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column col-4">
                        <u class="fw-lighter mb-1">Respuesta</u>
                        <div>
                            {% for val in '12345' %}
                                {% user_value question as question_user_value %}
                                <a class="mx-1 answer {% if question_user_value|slugify == val %}fas{% else %}fal{% endif %} fa-star text-decoration-none"
                                   data-question="{{ question.pk }}"
                                   data-value="{{ val }}" href="#"></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-column ">
                        <u class="fw-lighter mb-1">Evalúa la pregunta</u>
                        <div>
                            {% user_likes question as question_user_likes %}
                            <a class="mx-1 like {% if question_user_likes %}fas{% else %}fal{% endif %} fa-thumbs-up text-decoration-none"
                               href="#" data-question="{{ question.pk }}" data-value="like" ></a>
                            {% user_dislikes question as question_user_dislikes %}
                            <a class="mx-1 like {% if question_user_dislikes %}fas{% else %}fal{% endif %} fa-thumbs-up fa-flip-both text-decoration-none"
                               href="#" data-question="{{ question.pk }}" data-value="dislike"></a>
                        </div>
                    </div>
                    <div class="col-2">
                        <u class="fw-lighter mb-1">Ranking:</u>
                        <div>
                           {{ question.ranking }} pts.
                        </div>


                    </div>
                </div>
            </div>
        {% empty %}
            <div>No hay preguntas.</div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        $('a.answer').click(function (event) {
            event.preventDefault()
            let value =$(this).data('value')
            let question =$(this).data('question')

            $.post(
                '{% url "survey:question-answer" %}',
                {"question_pk": question, "value": value},
                function (data) {
                    location.reload();
                }
            );
        });

        $('a.like').click(function (event) {
            event.preventDefault()
            let value = $(this).data('value')
            let question = $(this).data('question')

            $.post(
                '{% url "survey:question-like" %}',
                {"question_pk": question, "value": value},
                function (data) {
                    location.reload();
                }
            );
        });

    </script>

{% endblock %}